body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #141414;
    color: #FFFFFF;
}

header, footer {
    background-color: #1F1F1F;
    padding: 2em; /* ajustado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}

main {
    flex-grow: 1;
    padding: 2em; /* ajustado */
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em; /* ajustado */
    width: 100%;
    margin-top: 3em; /* ajustado */
}

.note {
    position: relative;
    background-color: #282828;
    padding: 1em; /* ajustado */
    width: 100%;
    max-width: 800px; /* ajustado para px */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    z-index: 1;
    border-radius: 15px; /* ajustado para px */
    transition: background-color 0.5s ease;
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
    width: 100px; /* ajustado */
}

.note .note-items {
    margin-bottom: 1em; /* ajustado */
}

.note .item {
    display: flex;
    align-items: center;
}

.note .item p {
    white-space: normal;
    word-break: break-all;
    color: #FFFFFF;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

input[type="text"] {
    width: 100%;
    padding: 0.9em; 
    color: #FFFFFF;
    background-color: #282828;
    
}

.note-title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
}

.color-option {
    width: 20px; /* ajustado */
    height: 20px; /* ajustado */
    cursor: pointer;
}

.note-header {
    display: flex;
    justify-content: space-between;
}

.note-buttons {
    position: absolute;
    font-size: 0.9em;
    top: 0.3em; /* ajustado */
    right: 1em; /* ajustado */
    display: flex;
    gap: 0.5em; /* ajustado */
}

.change-color-button, .delete-note-button, .add-item-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #FFFFFF;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2em; /* ajustado */
    border: 1px solid #888; /* ajustado */
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px; /* ajustado */
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.note {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

input[type='checkbox'] {
    border: 2px solid #555; /* ajustado */
    height: 20px; /* ajustado */
    width: 20px; /* ajustado */
    border-radius: 3px; /* ajustado */
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: #555;
    border-color: #555;
}

footer {
    display: flex;
    justify-content: center;
}



#note-input {
    flex-grow: 1;
    
    background: none;
    border: none;
    color: #FFFFFF;
    padding: 0.8em; /* ajustado */
    margin-right: 1em; /* ajustado */
}





body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-wrapper {
    position: fixed;
    bottom: 1em;
    left: 49.65%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #525151;
    padding: 1em;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    z-index: 9999;
    margin: auto;
}


#notes-container {
    display: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin-top: 5em;
    padding-bottom: 6em;
}



/* Remove o contorno do foco padrão no navegador */
input[type="text"]:focus, textarea:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: initial !important;
}

/* Adiciona um estilo de foco personalizado para manter a acessibilidade */
input[type="text"]:focus, textarea:focus {
    border: 2px solid #282828;  /* você pode ajustar essa cor conforme necessário */
}

/* Adicione isto ao final do seu arquivo CSS */
.settings-hidden {
    display: none;
}

.settings-visible {
    display: flex;
}

/* Adicione isto ao final do seu arquivo CSS */

#settings-panel {
    position: fixed;
    bottom: 4em;  /* Ajuste conforme necessário */
    left: 95%;
    transform: translateX(-50%);
    flex-direction: column;
    z-index: 9998;  /* Garantir que fique abaixo do input-wrapper */
}


@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.blinking {
    animation: blink 1s infinite;
}


